.pupper-app {
  text-align: center;
}

.billie-pupper {
  height: 40vmin;
}

.pupper-app-wrapper {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pupper-app-wrapper p {
  position: relative;
  top: 100px;
}

.color-0 {
  color: #8093FF;
}

.color-1 {
  color: #FF502C;
}

.color-2 {
  color: #FF9472;
}

.color-3 {
  color: #FF91FF;
}
